<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exam - Paper</title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div class="container">
		<h1 class="page-header text-center">恒丰考试</h1>
	</div>

	<div class="container">
		<form action="#" th:action="@{/generatePaper}" method="get">
			<label for="count" th:text="'题库总考题数: ' +${qCount}">题库总考题数:
				100</label>
			<div class="input-group">
				<span class="input-group-addon" id="addon1">输入本次考试的题目数量： </span> <input
					id="count" name="count" type="text" class="form-control"
					aria-describedby="addon1">
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="submit">生成试卷</button>
				<button class="btn btn-default" type="button"
					onclick="location.href='learn.html'">顺序练习</button>
			</div>
		</form>
		<HR align=center color=#987cb9 SIZE=1>
	</div>
</body>
</html>