<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exam - Paper</title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../paginator/js/bootstrap-paginator.min.js"></script>
<link rel="stylesheet" href="../css/my.css">
<link rel="stylesheet" href="../paginator/css/pagination.css">
<script th:inline="javascript">
	$(document).ready(
			function() {
				$("#submitPaperButton").click(
						function() {
							/*<![CDATA[*/
							var qCount = /*[[${paper.questions.size()}]]*/;
							var qList = /*[[${paper.questions}]]*/;
							/*]]>*/
							var cAnswer = [];
							var uAnswer = [];
							for (var i = 0; i < qCount; i++) {
								cAnswer[i] = qList[i].answer; //ABC
								var userAnswer = [];
								$("input[name='answers[" + i + "]']:checked")
										.each(function(index, item) {
											userAnswer.push($(this).val())
										});
								uAnswer[i]= userAnswer;
							}
							var flag = true;							
							for(qIndex in cAnswer){
								//alert("correct vs User: "+cAnswer[qIndex].length+" vs "+uAnswer[qIndex].length);
								if(cAnswer[qIndex].length != uAnswer[qIndex].length){
									//alert("第"+ qIndex + "题  wrong!");
									//alert(qList[qIndex].id);
									$("#"+qList[qIndex].id).css("display","block");
									$("#"+qList[qIndex].id).css("color","red");
									flag=false;										
									break;
								}
									
								for(x in cAnswer[qIndex]){
									if (uAnswer[qIndex][x].indexOf(cAnswer[qIndex][x]) == -1) {											
											//alert("第"+ qIndex + "题  wrong");
											//alert(qList[qIndex].id);
											$("#"+qList[qIndex].id).css("display","block");
											$("#"+qList[qIndex].id).css("color","red");
											flag=false;	
											break;
									}
								}
							}
							if(flag==true){
								alert("神奇的全中!");
								$("form").submit();
							}
						})
			});
</script>
</head>
<body>
	<div class="contain">
		<h1 class="page-header text-center">
			HF Exam - <small>paper 1</small>
		</h1>
	</div>

	<div th:include="common :: nav-menu"></div>

	<div class="container" th:unless="${#lists.isEmpty(paper.questions)}"
		id="example">

		<div class="panel panel-primary" th:each="q:${paper.questions}">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="'Question '+${q.id}">Question
					1</h3>
			</div>
			<div class="panel-body">
				<p th:text="${q.description}">description</p>
				<div th:each="op:${q.optionList}">
					<div th:switch="${q.type}">
						<input th:case="'单选'" type="radio" th:value="${op.id}"
							th:name="${q.id}" /> <label th:case="'单选'"
							th:text="${op.description}">A</label> <input th:case="'多选'"
							type="checkbox" th:value="${op.id}" th:name="${q.id}" /> <label
							th:case="'单选'" th:text="${op.description}">A</label> <input
							th:case="'判断'" type="radio" th:value="${op.id}" th:name="${q.id}" />
						<label th:text="${op.description}">A</label>
					</div>
				</div>
				<div class="answer">
					<HR align=center color=#987cb9 SIZE=5>
					<p th:text="${q.answer}">answer</p>
					<p th:text="${q.remarks}">remarks</p>
				</div>
			</div>
		</div>
		<HR align=center color=#987cb9 SIZE=5>
		<button class="btn btn-lg btn-primary btn-block" type="button"
			id="submitPaperButton">Submit Paper</button>
	</div>

</body>
</html>