<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exam - Paper</title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../paginator/js/bootstrap-paginator.min.js"></script>
<link rel="stylesheet" href="../css/my.css">
<link rel="stylesheet" href="../paginator/css/pagination.css">
<script th:inline="javascript">
	$(document).ready(function() {
		$("#nextQuestionButton").click(function() {
			var userAnswer = [];
			$("input[name='userAnswer']:checked").each(function(index, item) {
				userAnswer.push($(this).val())
			});

			/*<![CDATA[*/
			var cAnswer = /*[[${question.answer}]]*/'Correct Answer';
			/*]]>*/
			var flag = true;
			for (x in cAnswer) {
				if (userAnswer[x].indexOf(cAnswer[x]) == -1) {
					alert("答错了！正确答案：  " + cAnswer);
					flag = false;
					break;
				}
			}
			if (flag == true)
				$("form").submit();
		})
	});
</script>
</head>
<body>
	<div th:include="common :: nav-menu"></div>
	
	<div class="contain">
		<h1 class="page-header text-center">
			恒丰考试 - <small>练习</small>
		</h1>
	</div>

	<div class="container">
		<form class="form" action="#" th:action="@{/nextQuestion}"
			th:object="${question}" method="post">
			<div class="row">
				<div class="form-group">
					<p th:text="'问题'+'('+${question.type}+')'+': '">Question</p>
					<p th:text="${question.description}">question descriptions</p>
					<input type="hidden" th:field="${question.answer}">
				</div>
				<div class="input-group" th:switch="${question.type}">
					<div th:case="'单选'">
						<ul>
							<li th:each="op:${question.optionList}"><input type="radio"
								th:value="${#strings.substring(op,0,1)}" name="userAnswer" /> <label
								th:text="${op}">A</label></li>
						</ul>
					</div>
					<div th:case="'多选'">
						<ul>
							<li th:each="op:${question.optionList}"><input
								type="checkbox" name="userAnswer"
								th:value="${#strings.substring(op,0,1)}" /> <label th:text="${op}">B</label></li>
						</ul>
					</div>
					<div th:case="'判断'">
						<ul>
							<li th:each="op:${question.optionList}"><input type="radio"
								name="userAnswer" th:value="${#strings.substring(op,0,1)}" /> <label
								th:text="${op}">C</label></li>
						</ul>
					</div>
				</div>

				<HR align=center color=#987cb9 SIZE=1>
			</div>
			<HR align=center color=#987cb9 SIZE=5>
			<button class="btn btn-lg btn-primary btn-block" type="button"
				id="nextQuestionButton">下一个问题</button>
		</form>
	</div>

</body>
</html>