<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exam - Paper</title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../paginator/js/bootstrap-paginator.min.js"></script>
<link rel="stylesheet" href="../css/my.css">
<link rel="stylesheet" href="../paginator/css/pagination.css">
<script th:inline="javascript">
	$(document).ready(function() {
		$("#nextQuestionButton").click(function() {
			/*<![CDATA[*/
			var correctAnswer = /*[[${question.answer}]]*/'Correct Answer';
			/*]]>*/

			var userAnswer = [];
			$("input[name='userAnswer']:checked").each(function(index, item) {
				userAnswer.push($(this).val())
			});
			if (userAnswer == '') {
				alert('please input your answer!');
				return;
			}

			for (x in correctAnswer) {
				if (correctAnswer[x] != userAnswer[x]) {
					alert("Wrong! correct:  " + correctAnswer);
					return;
				}
			}
			$(".answer").toggle();
			setTimeout(function() {
				window.open("/question/next", '_self');
			}, 3000)

		})
	});
</script>
</head>
<body>
	<div th:include="common :: nav-menu"></div>

	<div class="contain">
		<h1 class="page-header text-center">
			恒丰考试 - <small>练习</small>
		</h1>
	</div>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="'Question '+${question.id}">Question
					1</h3>
			</div>
			<div class="panel-body">
				<p th:text="${question.description}">description</p>
				<div th:each="op:${question.optionList}">
					<div th:switch="${question.type}">
						<input th:case="'单选'" type="radio" th:value="${op.id}"
							th:name="userAnswer" /> <label th:case="'单选'"
							th:text="${op.description}">A</label> <input th:case="'多选'"
							type="checkbox" th:value="${op.id}" th:name="userAnswer" /> <label
							th:case="'单选'" th:text="${op.description}">A</label> <input
							th:case="'判断'" type="radio" th:value="${op.id}"
							th:name="userAnswer" /> <label th:text="${op.description}">A</label>
					</div>
				</div>
				<div class="answer">
					<HR align=center color=#987cb9 SIZE=5>
					<p th:text="${question.answer}">answer</p>
					<p th:text="${question.remarks}">remarks</p>
				</div>
			</div>
		</div>
		<HR align=center color=#987cb9 SIZE=5>
		<button class="btn btn-lg btn-primary btn-block" type="button"
			id="nextQuestionButton">下一个问题</button>
	</div>
</body>
</html>