<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<input type="radio" value=A name=9 /><label> A.每月 </label>
	</div>
	<div class="answer" >
		<HR align="center" color="#987cb9" size=5>
		<p>D</p>
		<p>恒丰银行银企对账管理办法 恒银办发〔2015〕620号</p>
	</div>
	<div>
		<input type="radio" value=B name=9 /><label> B.每季 </label>
	</div>
	<div class="answer">
		<HR align="center" color="#987cb9" size=5>
		<p>D</p>
		<p>恒丰银行银企对账管理办法 恒银办发〔2015〕620号</p>
	</div>
	<div>
		<input type="radio" value=C name=9 /><label> C.每半年 </label>
	</div>
	<div class="answer">
		<HR align="center" color="#987cb9" size=5>
		<p>D</p>
		<p>恒丰银行银企对账管理办法 恒银办发〔2015〕620号</p>
	</div>
	<div>
		<input type="radio" value=D name=9 /><label> D.每年 </label>
	</div>
	<div class="answer">
		<HR align="center" color="#987cb9" size=5>
		<p>D</p>
		<p>恒丰银行银企对账管理办法 恒银办发〔2015〕620号</p>
	</div>
</body>
</html>